@model PagedList.IPagedList<WebsiteRapChieuPhim.Models.DatTour>
@using PagedList.Mvc
@{
    ViewBag.Title = "TuorKhuyenMai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>tournuoc</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.khoihanhtu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoigian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khoihanhngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gioithieutour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thumnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chuongtrinhtour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khuyenmai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diemdenid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tentour)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.khoihanhtu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoigian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.khoihanhngay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gioithieutour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thumnail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chuongtrinhtour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.khuyenmai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diemdenid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tentour)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>*@

<style>
    p {
        font-family: arial;
        font-size: 13px;
        color: #333;
    }

    .md-6 {
        width: 45%;
        float: left;
    }

    .img-container {
        border: 1px solid #CCC;
        height: auto; /** Chiều cao tự động **/
        margin: 5px auto; /** Cách trên dưới 10px và nằm giữa **/
        overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
        position: relative;
        width: 300px; /** Chiều rộng vùng chứa **/
    }

        .img-container img {
            width: 100%; /** Hình ảnh rộng 100% so với vùng chứa **/
            transition: all 1s; /** Tạo độ mượt **/
        }

        .img-container:hover img {
            -webkit-transform: scale(1.2);
            transform: scale3d();
        }

    .ahihi, .ahihi:hover, a, a:hover {
        text-decoration: none;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    a {
        color: #333;
        cursor: pointer;
    }

    .new-sort-zone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #f2f2f2;
        padding: 0px 33px 17px;
        font-size: 15px;
    }

        .new-sort-zone a.active, .new-sort-zone a:hover {
            background: #243a76;
            color: #fff;
        }




        .new-sort-zone a {
            float: left;
            margin-right: 20px;
            font-size: 15px;
            text-transform: uppercase;
            background: #fff;
            color: #243a76;
            position: relative;
            border: 1px dashed #243a76;
            padding: 5px 10px;
            border-radius: 3px;
            font-weight: 600;
        }

    a, a:hover {
        text-decoration: none;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    .list-n {
        margin-top: 15px;
        padding-right: 15px;
    }

    .idd {
        margin-top: 15px;
        margin-right: 20px;
    }
</style>

<h2 class="tit_home" style="text-align:left"><span class="txt_tit_home">TOUR KHUYẾN MÃI</span></h2>


<div class="clearfix"></div>
<div class="search_content_s">
    <div class="img_search_s"><img src="http://viettour.com.vn/assets/css/img/search.png" alt=""></div>
    <form method="get" action="@Url.Action("diemdens","Home")">
        <div class="right_search_s">
            <div class="thongtintourhot">
                <span>
                    &nbsp;
                    <span style="color: rgb(0, 51, 102);">Trên <strong>500 tour </strong></span>
                </span>
                <a href="">
                    <span><span style="color: rgb(0, 51, 102);">du lịch trong &amp; </span></span>
                </a>
                <span>
                    <span style="color: rgb(0, 51, 102);">&nbsp;ngoài nước đang có trên website, chọn<strong> </strong></span>
                </span>
                <span style="color: rgb(0, 51, 102);">
                    <strong><a href=""><span>lịch khởi hành</span></a></strong>
                </span>
                <span><span style="color: rgb(0, 51, 102);"> để xem chi tiết</span></span>
            </div>
            <div class="clearfix"></div>
            <div id="khoihanh">
                Khởi hành từ
                <select name="keys" class="select" id="select2">

                    <option value="60">HÀ NỘI</option>
                </select>
            </div>
            <div id="diemden">
                đến
                <label>
                    <select name="key" class="select">
                        <option value=" ">Chọn điểm đến</option>
                        <optgroup label="Trong nước">
                            <option value="HÀ NỘI">HÀ NỘI &amp; LÂN CẬN</option>
                            <option value="NHA TRANG">NHA TRANG</option>
                            <option value="QUẢNG BÌNH">QUẢNG BÌNH</option>
                            <option value="SAPA &amp; ĐÔNG TÂY BẮC">SAPA &amp; ĐÔNG TÂY BẮC</option>
                            <option value="HUẾ, ĐÀ NẴNG, HỘI AN">HUẾ, ĐÀ NẴNG, HỘI AN</option>
                            <option value="ĐÀ LẠT, TÂY NGUYÊN">ĐÀ LẠT, TÂY NGUYÊN</option>
                            <option value="PHÚ YÊN, QUY NHƠN">PHÚ YÊN, QUY NHƠN</option>
                            <option value="MŨI NÉ, NHA TRANG">MŨI NÉ, NHA TRANG</option>
                            <option value="MIỄN TÂY">MIỄN TÂY</option>
                            <option value="MỘC CHÂU">MỘC CHÂU</option>
                            <option value="HÀ GIANG">HÀ GIANG</option>
                            <option value="QUY NHƠN">QUY NHƠN</option>
                            <option value="CAO BẰNG">CAO BẰNG</option>

                        </optgroup>
                        <optgroup label="Nước ngoài">
                            <option value="THÁI LAN">THÁI LAN</option>
                            <option value="SINGAPORE">SINGAPORE</option>
                            <option value="HÀN QUỐC">HÀN QUỐC</option>
                            <option value="NHẬT BẢN">NHẬT BẢN</option>
                            <option value="MALAYSIA">MALAYSIA</option>
                            <option value="TRUNG QUỐC">TRUNG QUỐC</option>
                            <option value="ĐÀI LOAN">ĐÀI LOAN</option>
                            <option value="HÔNG KÔNG">HÔNG KÔNG</option>
                            <option value="HOA KỲ">HOA KỲ</option>
                            <option value="CHÂU ÂU">CHÂU ÂU</option>
                            <option value="DUBAI">DUBAI</option>
                            <option value="ÚC">ÚC</option>
                            <option value="ẤN ĐỘ">ẤN ĐỘ</option>
                            <option value="BRUNEI">BRUNEI </option>
                            <option value="CAMPUCHIA">CAMPUCHIA</option>
                            <option value="INDONESIA">INDONESIA</option>
                            <option value="LÀO">LÀO</option>
                            <option value="MYANMAR">MYANMAR</option>
                            <option value="MALDIVES">MALDIVES</option>
                            <option value="HAWAII">HAWAII</option>
                            <option value="NAM PHI">NAM PHI</option>
                            <option value="NGA">NGA</option>
                            <option value="PHILIPPINES">PHILIPPINES</option>
                            <option value="DU LỊCH CHỮA BỆNH">DU LỊCH CHỮA BỆNH</option>
                            <option value="CANADA">CANADA</option>
                            <option value="TRIỀU TIÊN">TRIỀU TIÊN</option>
                            <option value="PHƯỢNG HOÀNG CỔ TRẤN">PHƯỢNG HOÀNG CỔ TRẤN</option>
                            <option value="LỆ GIANG">LỆ GIANG</option>
                            <option value="BẮC KINH - THƯỢNG HẢI - HÀNG CHÂU - TÔ CHÂU">BẮC KINH - THƯỢNG HẢI - HÀNG CHÂU - TÔ CHÂU</option>
                        </optgroup>
                    </select>
                </label>
                <input type="submit" class="tim_home" value="&nbsp;">
            </div>
        </div>
    </form>
</div>
<div class="clearfix" style="margin-bottom: 20px"></div>
<div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">

        <a href="http://viettour.com.vn/tour-trong-nuoc" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img style="padding: 15px 40px" width="100%" height="100" src="~/resource/upload/unnamed1.png" class="vc_single_image-img attachment-full" alt="asdas"></div></a>


    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="md-6" style="margin-right: 15px">
            <a href="http://viettour.com.vn/search-tour-nuoc-ngoai/1" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="100%" height="100" src="~/resource/upload/unnamed2.jpg" class="vc_single_image-img attachment-full" alt="asdas"></div></a>
        </div>
        <div class="md-6">
            <a href="http://viettour.com.vn/search-tour-trong-nuoc/0" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="100%" height="100" src="~/resource/upload/unnamed3.jpg" class="vc_single_image-img attachment-full" alt="asdas"></div></a>
        </div>

    </div>


</div>


<div class="new-sort-zone">
    <span class="idd">Ưu tiên xem:</span>
    <div class="list-n">

        
        <a href="@Url.Action("giamgianhieu","Home")">GIẢM GIÁ NHIỀU</a>
        <a href="@Url.Action("giamin","Home")" >GIÁ TĂNG DẦN</a>
        <a href="@Url.Action("giamax","Home")" class="active">GIÁ GIẢM DẦN</a>

    </div>
</div>

<table class="table" style="margin-top:15px">
    @foreach (var item in Model)
    {
        <tr>
            <td colspan="2">
                <b>@Html.DisplayFor(modelItem => item.tentour)</b>
            </td>

        </tr>
        <tr>
            <td rowspan="6">

                @{
                    string imagePath = "~/resource/upload/images/" + item.thumnail;
                }

                <div class="img-container">

                    <img alt="cc" src="@Url.Content(imagePath)" class="img-thumbnail" style="width:650px;height:200px" />
                    <div class="sale_tour_km">
                        Giảm @Html.DisplayFor(modelItem => item.khuyenmai)%
                    </div>
                </div>


            </td>
            <td><b>Khởi hành từ : </b>@Html.DisplayFor(modelItem => item.khoihanhtu)</td>
        </tr>
        <tr>

            <td><b>Thời gian : </b> @Html.DisplayFor(modelItem => item.thoigian)</td>
        </tr>
        
            string tr1 = item.gia;
                    int x = Convert.ToInt32(tr1);
       
        <tr>
            <td><b>Giá Tour : </b>@String.Format("{0:n0}", x) VNĐ</td>
        </tr>
        <tr>

            <td><b>Khởi hành ngày : </b> @Html.DisplayFor(modelItem => item.khoihanhngay)</td>
        </tr>
        <tr>
            <td><b>Giới thiệu Tour : </b> @Html.DisplayFor(modelItem => item.gioithieutour)</td>

        </tr>

        <tr>
            <td align="right">
                @{
                    Session["tentour"] = item.tentour;

                }


                <button style="margin-right:3px" class="btn btn-danger" type="submit"><a href="/home/dattours?name=@item.tentour&hh=@item.id" class="menu-link ">Đặt Tour</a></button>
                <button class="btn btn-success">
                    <a href="@Url.Action("chitietTour","Home",new {id=@item.id})" class="menu-link ">Xem Tiếp</a>
                </button>


            </td>
        </tr>


    }
</table>
<div align="right" style="width: 100%">
    @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
    @Html.PagedListPager(Model, page => Url.Action("giamax", new { page }))
</div>
